In [8]:
import pandas as pd

# Sample data
data = {
    'SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Wayfair SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Qty': [2, 1, 1],
    'Problem Number': [3, 5, 3]
}

# Create DataFrame
df = pd.DataFrame(data)

# Group by SKU and Wayfair SKU, then aggregate
summary = df.groupby(['SKU', 'Wayfair SKU']).agg(
    total_qty=('Qty', 'sum'),
    problem_counts=('Problem Number', lambda x: x.value_counts().to_dict())
).reset_index()

# Flatten the problem_counts dictionary into separate columns
problem_df = summary['problem_counts'].apply(pd.Series).fillna(0).astype(int)
problem_df.columns = [f'PN-{col}' for col in problem_df.columns]

# Combine the total_qty and problem_df into the final summary
final_summary = pd.concat([summary[['SKU', 'Wayfair SKU', 'total_qty']], problem_df], axis=1)

# Display summary
print(final_summary)

     SKU Wayfair SKU  total_qty  PN-3  PN-5
0  PN-04       PN-04          4     2     1

In [9]:
df.groupby(['SKU', 'Wayfair SKU']).agg(
    total_qty=('Qty', 'sum'),
    problem_counts=('Problem Number', lambda x: x.value_counts().to_dict())
).reset_index()

     SKU Wayfair SKU  total_qty problem_counts
0  PN-04       PN-04          4   {3: 2, 5: 1}

In [6]:
['_'.join(str(i) for i in col).strip() if isinstance(col, tuple) else col for col in summary.columns]

['SKU_', 'Wayfair SKU_', 'PN-3', 'PN-5']

In [10]:
# Sample data
data = {
    'SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Wayfair SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Qty': [2, 1, 1],
    'Problem Number': ['3', '5', '3-4']
}

# Create DataFrame
df = pd.DataFrame(data)

# Expand Problem Number to multiple rows if it contains multiple values
df = df.assign(Problem_Number=df['Problem Number'].str.split('-')).explode('Problem_Number')
df['Problem_Number'] = df['Problem_Number'].astype(int)

In [11]:
df

     SKU Wayfair SKU  Qty Problem Number  Problem_Number
0  PN-04       PN-04    2              3               3
1  PN-04       PN-04    1              5               5
2  PN-04       PN-04    1            3-4               3
2  PN-04       PN-04    1            3-4               4

In [12]:
summary = df.groupby(['SKU', 'Wayfair SKU']).agg(
    total_qty=('Qty', 'sum'),
    problem_counts=('Problem_Number', lambda x: x.value_counts().to_dict())
).reset_index()

In [13]:
summary

     SKU Wayfair SKU  total_qty      problem_counts
0  PN-04       PN-04          5  {3: 2, 5: 1, 4: 1}

In [14]:
# Flatten the problem_counts dictionary into separate columns
problem_df = summary['problem_counts'].apply(pd.Series).fillna(0).astype(int)
problem_df.columns = [f'PN-{col}' for col in problem_df.columns]

# Combine the total_qty and problem_df into the final summary
final_summary = pd.concat([summary[['SKU', 'Wayfair SKU', 'total_qty']], problem_df], axis=1)

# Display summary
print(final_summary)

     SKU Wayfair SKU  total_qty  PN-3  PN-5  PN-4
0  PN-04       PN-04          5     2     1     1

In [15]:
file_path = 'July_24 CARRO USA OUTGOING.xlsx'

xls = pd.ExcelFile(file_path)

sheet_names = xls.sheet_names

def get_table(file_path, sheet_names):
    df = pd.DataFrame()
    for sheet_name in sheet_names[2:]:
        df1 = pd.read_excel(file_path, sheet_name=sheet_name)
        print(f"Sheet Name: {sheet_name}")
        df = pd.concat([df, df1], axis = 0)
    df = df[['SKU', 'Wayfair SKU', 'Qty', 'PROBLEM NUMBER']]
    df['Problem Number'] = df['PROBLEM NUMBER'].apply(lambda x: int(x) if isinstance(x, float) and not np.isnan(x) else x)
    df = df[['SKU', 'Wayfair SKU', 'Qty', 'Problem Number']]
    df = df.assign(Problem_Number=df['Problem Number'].str.split('-')).explode('Problem_Number')
    return df

In [23]:
data = {
    'SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Wayfair SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Qty': [2, 1, 1],
    'Problem Number': ['3', '5', '3-4']
}

# Create DataFrame
df = pd.DataFrame(data)

# Expand Problem Number to multiple rows if it contains multiple values
df = df.assign(Problem_Number=df['Problem Number'].str.split('-')).explode('Problem_Number')
df['Problem_Number'] = df['Problem_Number'].astype(int)

In [21]:
pd.DataFrame(data)

     SKU Wayfair SKU  Qty Problem Number
0  PN-04       PN-04    2              3
1  PN-04       PN-04    1              5
2  PN-04       PN-04    1            3-4

In [20]:
df

     SKU Wayfair SKU  Qty Problem Number  Problem_Number
0  PN-04       PN-04    2              3               3
1  PN-04       PN-04    1              5               5
2  PN-04       PN-04    1            3-4               3
2  PN-04       PN-04    1            3-4               4

In [25]:
data = {
    'SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Wayfair SKU': ['PN-04', 'PN-04', 'PN-04'],
    'Qty': [2, 1, 1],
    'Problem Number': ['3', '5', '3-4']
}

# Create DataFrame
df = pd.DataFrame(data)

# Create a copy of original dataframe for processing
df_processed = df.copy()

# Split and expand 'Problem Number' without altering the original quantity
df_processed = df_processed.assign(Problem_Number=df_processed['Problem Number'].str.split('-')).explode('Problem_Number')

# # Convert split values to integers where applicable
# df_processed['Problem_Number'] = pd.to_numeric(df_processed['Problem_Number'], errors='coerce').fillna(0).astype(int)

# # Aggregate back to original quantity
# df_processed = df_processed.groupby(['SKU', 'Wayfair SKU', 'Problem_Number']).agg(
#     Qty=('Qty', 'sum')
# ).reset_index()

# # Display the processed DataFrame
# print(df_processed)

In [27]:
df

     SKU Wayfair SKU  Qty Problem Number
0  PN-04       PN-04    2              3
1  PN-04       PN-04    1              5
2  PN-04       PN-04    1            3-4

In [26]:
df_processed

     SKU Wayfair SKU  Qty Problem Number Problem_Number
0  PN-04       PN-04    2              3              3
1  PN-04       PN-04    1              5              5
2  PN-04       PN-04    1            3-4              3
2  PN-04       PN-04    1            3-4              4